{# src/NOE/EspecieBundle/Resources/views/Default/eliminar.html.twig #}
{% extends 'base.html.twig' %}

{% set menu='especie' %}

{% block title %}{{ 'title.especie.eliminar' | trans }}{% endblock %}

{% block titular %}{{ 'title.especie.eliminar' | trans }}{% endblock %}

{% block contenido %}

<fieldset>
    <h3>{{ 'especie.mensaje.desea_eliminar' | trans }}</h3>

    <div class="opciones">
        <span class="buttons">
            <a href="{{ path('especie_ver', {'id' : id}) }}">{% include 'icon.html.twig' with {icono: 'volver'} %} {{ 'varios.volver' | trans }}</a>
            <a href="{{ path('especie_eliminar_final', { 'id' : id }) }}">{% include 'icon.html.twig' with {icono: 'borrar'} %} {{ 'varios.borrar' | trans }}</a>
        </span>
    </div>
</fieldset>

{% endblock %}
