{% extends 'base.html.twig' %}

{% set menu='ejemplar' %}

{% block title %}{{ 'title.ejemplar.ver' | trans }}{% endblock %}

{% block titular %}{{ 'title.ejemplar.ver' | trans }}{% endblock %}

{% block contenido %}
{% for flashMessage in app.flashes('notice') %}
    <div class="flash-notice">
        {{ flashMessage | trans }}
    </div>
{% endfor %}

{% set submenu = 'datos' %}
{% include 'captura/includes/cabecera.html.twig' %}
<div id="subtabs">
    <fieldset>
        <legend>{{ 'ejemplar.mensaje.datos_generales' | trans }}</legend>
        <ul>
            <li><span class="campo">{{ 'ejemplar.campo.fechaRegistro' | trans }}: </span>{% if ejemplar.fechaRegistro is not null %}{{ ejemplar.fechaRegistro | date("d/m/Y") }}{% endif %}</li>
            <li><span class="campo">{{ 'ejemplar.campo.especie' | trans }}: </span><a href="{{ path('especie_ver', {'id': ejemplar.especie.id}) }}">{{ ejemplar.especie.nombre | nombreEspecie | raw }}</a></li>
            <li><span class="campo">{{ 'ejemplar.campo.especieComun' | trans }}: </span>{{ ejemplar.especie.comun }}</li>
            <li><span class="campo">{{ 'ejemplar.campo.idMicrochip' | trans }}: </span>{{ ejemplar.idMicrochip }}</li>
            <li><span class="campo">{{ 'ejemplar.campo.idAnilla' | trans }}: </span>{{ ejemplar.idAnilla }}</li>
            <li><span class="campo">{{ 'ejemplar.campo.idOtro' | trans }}: </span>{{ ejemplar.idOtro }}</li>
            <li><span class="campo">{{ 'ejemplar.campo.idOtro2' | trans }}: </span>{{ ejemplar.idOtro2 }}</li>
            <li><span class="campo">{{ 'ejemplar.campo.sexo' | trans }}: </span>{{ ejemplar.sexo | sexo | trans }}</li>
            <li><span class="campo">{{ 'ejemplar.campo.recinto' | trans }}: </span>{{ ejemplar.recinto }}</li>
            <div class="separador">
                <li><span class="campo">{{ 'ejemplar.campo.lugar' | trans }}: </span>{{ ejemplar.lugar }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.geoLong' | trans }}: </span>{{ ejemplar.geoLong }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.geoLat' | trans }}: </span>{{ ejemplar.geoLat }}</li>
            </div>
            <div class="separador">
                <li><span class="campo">{{ 'ejemplar.campo.origen' | trans }}: </span>{{ ejemplar.origen | origen | trans }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.documentacion' | trans }}: </span>{{ ejemplar.documentacion | documentacion | trans }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.progenitor1' | trans }}: </span>{{ ejemplar.progenitor1 }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.progenitor2' | trans }}: </span>{{ ejemplar.progenitor2 }}</li>
            </div>
            <div class="separador">
                <li><span class="campo">{{ 'ejemplar.campo.depositoNombre' | trans }}: </span>{{ ejemplar.depositoNombre }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.depositoDNI' | trans }}: </span>{{ ejemplar.depositoDNI }}</li>
                <li><span class="campo">{{ 'ejemplar.campo.deposito' | trans }}: </span>{{ ejemplar.deposito | raw }}</li>
            </div>
            <div class="separador separador-bajo">
                <li><span class="campo">{{ 'ejemplar.campo.fechaBaja' | trans }}: </span>{% if ejemplar.fechaBaja is not null %}{{ ejemplar.fechaBaja | date("d/m/Y")}}{% endif %}</li>
                <li><span class="campo">{{ 'ejemplar.campo.causaBaja' | trans }}: </span>{{ ejemplar.causaBaja | causaBaja | trans }}</li>
            </div>
            <li><span class="campo">{{ 'ejemplar.campo.observaciones' | trans }}: </span>{{ ejemplar.observaciones | raw }}</li>
        </ul>
    </fieldset>

    <div class="opciones">
        <span class="buttons">
            {% if is_granted('ROLE_OPERADOR_PROPIO') or
                 (is_granted('ROLE_OPERADOR_EXTERNO') and ejemplar.creadoPor and (ejemplar.creadoPor.id == app.user.id)) %}
            <a href="{{ path('ejemplar_editar', {'id': ejemplar.id}) }}">{% include 'icon.html.twig' with {icono: 'editar'} %} {{ 'varios.editar' | trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_OPERADOR_PROPIO') %}
            <a href="{{ path('ejemplar_clonar', {'id': ejemplar.id}) }}">{% include 'icon.html.twig' with {icono: 'crear'} %} {{ 'varios.clonar' | trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('ejemplar_eliminar', {'id': ejemplar.id}) }}">{% include 'icon.html.twig' with {icono: 'borrar'} %} {{ 'varios.borrar' | trans }}</a>
            {% endif %}
            <a href="{{ path('ejemplar_buscar_id') }}">{% include 'icon.html.twig' with {icono: 'volver'} %} {{ 'varios.volver' | trans }}</a>
        </span>
    </div>

    <div id="cortinilla" class="cortinilla"></div>

    {% if ejemplar.path1 %}
    <div id="superpuesto-1" class="superpuesto"><img src="{{ asset('uploads/ejemplares/I1-' ~ ejemplar.id ~ '.' ~ ejemplar.path1) }}" /></div>
    {% endif %}
    {% if ejemplar.path2 %}
    <div id="superpuesto-2" class="superpuesto"><img src="{{ asset('uploads/ejemplares/I2-' ~ ejemplar.id ~ '.' ~ ejemplar.path2) }}" /></div>
    {% endif %}
    {% if ejemplar.path3 %}
    <div id="superpuesto-3" class="superpuesto"><img src="{{ asset('uploads/ejemplares/I3-' ~ ejemplar.id ~ '.' ~ ejemplar.path3) }}" /></div>
    {% endif %}

    <fieldset class="imagenes_faciales">
        <legend>{{ 'ejemplar.mensaje.imagenes' | trans }}</legend>

        <div class="lanzador_facial{% if ejemplar.path1 %}_activo{% endif %}" id="1">
            <div class="cabecera">{{ 'ejemplar.campo.imagen1' | trans }}</div>
            <div class="imagen">
                {% if ejemplar.path1 %}
                <img src="{{ ('uploads/ejemplares/I1-' ~ ejemplar.id ~ '.' ~ ejemplar.path1) | imagine_filter('thumbnail') }}" />
                {% else %}
                {{ 'ejemplar.mensaje.no_imagen' | trans }}
                {% endif %}
            </div>
        </div>
        <div class="lanzador_facial{% if ejemplar.path2 %}_activo{% endif %}" id="2">
            <div class="cabecera">{{ 'ejemplar.campo.imagen2' | trans }}</div>
            <div class="imagen">
                {% if ejemplar.path2 %}
                <img src="{{ ('uploads/ejemplares/I2-' ~ ejemplar.id ~ '.' ~ ejemplar.path2) | imagine_filter('thumbnail') }}" />
                {% else %}
                {{ 'ejemplar.mensaje.no_imagen' | trans }}
                {% endif %}
            </div>
        </div>
        <div class="lanzador_facial{% if ejemplar.path3 %}_activo{% endif %}" id="3">
            <div class="cabecera">{{ 'ejemplar.campo.imagen3' | trans }}</div>
            <div class="imagen">
                {% if ejemplar.path3 %}
                <img src="{{ ('uploads/ejemplares/I3-' ~ ejemplar.id ~ '.' ~ ejemplar.path3) | imagine_filter('thumbnail') }}" />
                {% else %}
                {{ 'ejemplar.mensaje.no_imagen' | trans }}
                {% endif %}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            {% if (primera_captura is not null) and (ultima_captura is null) %}
                {{ 'ejemplar.mensaje.datos_unica_captura' | trans}}
            {% else %}
                {{ 'ejemplar.mensaje.datos_primera_captura' | trans}}
            {% endif %}
        </legend>
            {% if (primera_captura is null) %}
                <div>{{ 'ejemplar.mensaje.no_capturas' | trans}}</div>
                <div class="buttons">
                    <a href="{{ url('captura_crear', {'id': ejemplar.id}) }}">{% include 'icon.html.twig' with {icono: 'crear'} %} {{ 'captura.mensaje.anadir' | trans }}</a>
                </div>
            {% else %}
                <div><strong>{{ 'captura.campo.fechaCaptura' | trans }}:</strong> {{ primera_captura.fechaCaptura | date("d/m/Y") }}</div>
                <div><strong>{{ 'captura.campo.tipoCaptura' | trans }}:</strong> {{ primera_captura.tipoCaptura }}</div>
                <div><strong>{{ 'captura.campo.lugarCaptura' | trans }}:</strong> {{ primera_captura.lugarCaptura }}</div>
            {% endif %}
    </fieldset>

    {% if (ultima_captura is not null) %}
    <fieldset>
        <legend>{{ 'ejemplar.mensaje.datos_ultima_captura' | trans}}</legend>
            <div><strong>{{ 'captura.campo.fechaCaptura' | trans }}:</strong> {{ ultima_captura.fechaCaptura | date("d/m/Y") }}</div>
            <div><strong>{{ 'captura.campo.tipoCaptura' | trans }}:</strong> {{ ultima_captura.tipoCaptura }}</div>
            <div><strong>{{ 'captura.campo.lugarCaptura' | trans }}:</strong> {{ ultima_captura.lugarCaptura }}</div>
    </fieldset>
    {% endif %}

    <fieldset>
        <div><strong>{{ 'ejemplar.campo.creado_por' | trans}}:</strong> <em>{% if creado_por %}{{ creado_por }}{% endif %}</em>{% if creado_el is not null %} - {{ creado_el | date("d/m/Y H:i") }}{% endif %}</div>
        <div><strong>{{ 'ejemplar.campo.modificado_por' | trans}}:</strong> <em>{% if modificado_por %}{{ modificado_por }}{% endif %}</em>{% if modificado_el is not null %} - {{ modificado_el | date("d/m/Y H:i") }}{% endif %}</div>
    </fieldset>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Mostrar imágenes centradas en pantalla
    const lanzadores = document.querySelectorAll('.lanzador_facial_activo');
    const cortinilla = document.getElementById('cortinilla');
    const superpuestos = document.querySelectorAll('.superpuesto');

    function mostrarImagen(id) {
        const superpuestoId = document.getElementById('superpuesto-' + id);
        const imagen = superpuestoId.querySelector('img');

        cortinilla.style.display = 'block';
        cortinilla.style.opacity = '1';
        superpuestoId.style.display = 'block';
        superpuestoId.style.opacity = '1';

        const ancho = imagen.width;
        const alto = imagen.height;
        superpuestoId.style.width = ancho + 'px';
        superpuestoId.style.height = alto + 'px';
        superpuestoId.style.marginLeft = -Math.floor(ancho / 2) + 'px';
        superpuestoId.style.marginTop = -Math.floor(alto / 2) + 'px';
    }

    function ocultarSuperpuesto() {
        cortinilla.style.display = 'none';
        cortinilla.style.opacity = '0';
        superpuestos.forEach(function(superpuesto) {
            superpuesto.style.display = 'none';
            superpuesto.style.opacity = '0';
        });
    }

    lanzadores.forEach(function(lanzador) {
        lanzador.addEventListener('click', function(e) {
            e.preventDefault();
            const numero = this.getAttribute('id');
            mostrarImagen(numero);
        });
    });

    cortinilla.addEventListener('click', function(e) {
        e.preventDefault();
        ocultarSuperpuesto();
    });
});
</script>
{% endblock %}
