<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>NOE - {% block title %}{{ 'title.defecto' | trans }}{% endblock %}</title>
        {% block estilos %}
            <link href="{{ asset('css/ui/jquery-ui.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/ui/jquery-ui.theme.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/superfish/superfish.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/formalize.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/general.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div id="cuerpo">
            <header>
                {{ include('cabecera.html.twig') }}
            </header>
            <aside>
                {% block lateral %}
                {% endblock %}
            </aside>
            <section>
                <h1>{% block titular %} {% endblock %}</h1>
                {% block contenido %} {% endblock %}
            </section>
            <footer>
                <div id="contenido_pie">
                {% block pie %}
                    <strong>Español</strong>
                {% endblock %}
                </div>
                <div id="copyright">
                    &copy; NOE {{ "now" | date("Y") }}
                </div>
            </footer>
        </div>
        {% block javascripts %}
        <script src="{{ asset('js/lib/jquery-1.9.1.js') }}"></script>
        <script src="{{ asset('js/lib/superfish/hoverIntent.js') }}"></script>
        <script src="{{ asset('js/lib/superfish/superfish.js') }}"></script>
        <script src="{{ asset('js/lib/jquery.formalize.min.js') }}"></script>
        <script src="{{ asset('js/lib/jquery-ui-1.10.3.custom.js') }}"></script>
        <script src="{{ asset('js/pitmar.js') }}"></script>
        {% endblock %}
    </body>
</html>
